//- TODO: map each column and provide summary in footer
table.ui.table.segment.sortable
  thead
    tr
      each field in viewFields
        td #{field}

  tbody
    tr
      each field in viewFields
        - var f = resource.attributes[ field ]
        td
          if (field == idField || field == nameField)
            a(href="/#{resource.collection}/#{item[ idField ]}") #{item[ nameField ]}
          else if (f && f._type === 'lookup' && f._ref)
            a(href="/#{ resources[ f._ref ].collection }/#{ item.slug }") #{ item[ field ] }
          else if (f && f._type === 'file')
            a(href="/files/#{item[ field ]}") #{item[ field ]}
          else
            //- TODO: handle this much higher in the stack
            if (f && f.render === 'markdown')
              | !{ markdown( item[ field ] ) }
            else
              | #{item[ field ]}
