.ui.top.attached.segment
  //-if (example.image)
    a.pull-left(href="#{example.uri}")
      img.media-object(src="#{example.image}")
  .media-body
    h3
      a(href="#{example.uri}") #{example.name}
  .ui.attached.segment
    p #{example.description}
