if (!message.author)
  h3 warning: message has no author (was: #{message})
  pre
    code.
      #{message.author}
  - message.author = {};

style.
  .emoji {
    max-height: 1em;
  }


.comment
  - var reactions = Object.keys(message.reactions || {});

  a.avatar(href="/people/#{message.author.id}")
    img(src="#{message.author.image.avatar}")
  .content
    a.author(href="/people/#{message.author.id}") #{message.author.id}
    .metadata
      a.date(href="/messages/#{message.id}") #{message.created}
    .text
      p !{slackdown(message.content)}
    .actions
      if (reactions)
        for name in reactions
          .ui.small.label.tooltipped(title=":#{name}:") !{emojify(name)} #{message.reactions[name]}
      //-| le emoji
