.ui.card
  a.image(href="/people/#{person.slug}")
    img(src="#{person.image.avatar}")
  .content
    a.header(href="/people/#{person.slug}") #{person.username}
    .meta joined in 
      abbr.tooltipped(title="#{person.created}") #{person.created.getFullYear()}
    p #{person.bio}
