doctype html
html.no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    
    - var home = config.service.authority;
    - var title = (page && page.title) ? page.title : config.service.name;
    - var image = (page && page.image) ? page.image : 'https://' + home + '/img/maki.png';
    - var masthead = (page && page.masthead) ? page.masthead : null;
    - var description = (page) ? page.description || page.title || config.service.name + ': ' + config.service.mission : config.service.name + ': ' + config.service.mission;

    title #{title}

    meta(name="description", content="#{description}")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    block meta
      meta(name="og:title", content="#{title}")
      meta(name="og:type", content="website")
      meta(name="og:image", content="#{image}")
      meta(name="og:url", content="#{home}")
      meta(name="og:description", content="#{description}")
      
      meta(name="twitter:card", content="summary")
      meta(name="twitter:site", content="@MadeWithMaki")
      meta(name="twitter:title", content="#{title}")
      meta(name="twitter:description", content="#{description}")
      meta(name="twitter:image", content="#{image}")

    link(rel="stylesheet", href="/css/semantic.min.css")
    link(rel="stylesheet", href="/css/highlight/maki.css")
    link(rel="stylesheet", href="/css/maki.css")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700")

    - if (page && page.masthead)
      style.
        .masthead {
          background: url('#{page.masthead}') no-repeat 50% 50%;
          background-size: cover;
        }

    script(src="/js/jquery.js")
    script(src="/js/semantic.min.js")
    script(src="/js/lodash.min.js")

    script(src="/js/highlight.pack.js")
    script(src="/js/uuid.js")
    script(src="/js/jsonrpc.js")
    
    script(src="/js/maki.js")

    base(href="/")

  body
    block page
      .ui.large.top.fixed.hidden.menu
        .ui.container
          a.header.item(href="/")
            i.icon.left(class="#{ config.service.icon || 'lab' }")
            | #{config.service.name}
          each resource in resources
            if (resource.public)
              a.item(href="#{resource.routes.query}")
                if (resource.options.icon)
                  i.icon(class="#{resource.options.icon}")
                | #{resource.names.handle}
      .ui.vertical.inverted.sidebar.menu
        a.header.item(href="/")
          i.icon.left(class="#{ config.service.icon || 'lab' }")
          | #{config.service.name}
        each resource in resources
          if (resource.public)
            a.item(href="#{resource.routes.query}")
              if (resource.options.icon)
                i.icon(class="#{resource.options.icon}")
              | #{resource.names.handle}
              
      .pusher
        .ui.inverted.vertical.masthead.segment
          .ui.container
            .ui.large.secondary.inverted.pointing.menu
              a.toc.item
                i.sidebar.icon
              a.header.item(href="/")
                i.icon.left(class="#{ config.service.icon || 'lab' }")
                | #{config.service.name}
              each resource in resources
                if (resource.public)
                  a.item(href="#{resource.routes.query}")
                    if (resource.options.icon)
                      i.icon(class="#{resource.options.icon}")
                    | #{resource.names.handle}
            .ui.text.container
              block masthead
              
            div(style="clear: both;")
                    
        .ui.container.content(data-for="viewport", style="padding-top: 1em;")
          include ../partials/flash
          block content
  
      
      //-.ui.borderless.main.menu
        .ui.container
          a.header.item(href="/")
            i.icon.left(class="#{ config.service.icon || 'lab' }")
            | #{config.service.name}
          each resource in resources
            if (resource.public)
              a.item(href="#{resource.routes.query}")
                if (resource.options.icon)
                  i.icon(class="#{resource.options.icon}")
                | #{resource.names.handle}

      //-.ui.vertical.inverted.sidebar.menu
        a.header.item(href="/")
          i.icon.left(class="#{ config.service.icon || 'lab' }")
          | #{config.service.name}
        each resource in resources
          if (resource.public)
            a.item(href="#{resource.routes.query}")
              if (resource.options.icon)
                i.icon(class="#{resource.options.icon}")
              | #{resource.names.handle}

      //-.ui.page.grid
        //-.row
          block navbar
            include ../partials/navbar

        .row
          .column.content(data-for="viewport")
          
            include ../partials/flash
          
            block content

        .row
          .ui.one.column.stackable.center.aligned
            p
              small Built with <a href="http://github.com/martindale/maki">Maki</a>.

    block scripts

    script.
      window.addEventListener('load', function() {
        // fix menu when passed
        $('.masthead').visibility({
          once: false,
          onBottomPassed: function() {
            console.log('.masthead.onBottomPassed()')
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        });

        // create sidebar and attach to menu open
        $('.ui.sidebar').sidebar('attach events', '.toc.item');
      });

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57746323-1', 'auto');
      ga('send', 'pageview');
