include ../partials/mixins

doctype html
html.no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    
    - var home = config.service.authority;
    - var title = (page && page.title) ? page.title : config.service.name;
    - var image = (page && page.image) ? page.image : 'https://' + home + '/img/maki.png';
    - var masthead = (page && page.masthead) ? page.masthead : null;
    - var description = (page) ? page.description || page.title || config.service.name + ': ' + config.service.mission : config.service.name + ': ' + config.service.mission;

    title #{title}

    meta(name="description", content="#{description}")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    block meta
      meta(name="og:title", content="#{title}")
      meta(name="og:type", content="website")
      meta(name="og:image", content="#{image}")
      meta(name="og:url", content="#{home}")
      meta(name="og:description", content="#{description}")
      
      meta(name="twitter:card", content="summary")
      meta(name="twitter:site", content="@MadeWithMaki")
      meta(name="twitter:title", content="#{title}")
      meta(name="twitter:description", content="#{description}")
      meta(name="twitter:image", content="#{image}")

    link(rel="stylesheet", href="/css/semantic.min.css")
    link(rel="stylesheet", href="/css/highlight/maki.css")
    link(rel="stylesheet", href="/css/maki.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700|Playball")

    link(rel="import", href="/polymer/polymer.html")
    link(rel="import", href="/components")

    script(src="/js/jquery.js")
    script(src="/js/bundle.js")

    base(href="/")

  body
    maki-application.pusher
      //-include ../partials/scaffold
      block content
