extends layouts/default

block masthead
  h2.ui.inverted.header Made with Maki. 🍣
  h3.ui.inverted.header Maki is a family of open-source software developed by people just like you.  Here are some example projects built by the community, which are all open source!
  
  .content(style="margin-top: 4em;")
    .ui.two.huge.stackable.buttons
      a.ui.huge.primary.labeled.icon.button(href="/examples#selection")
        i.icon.code.fork
        | Pick a Path
      .or
      a.ui.huge.green.right.labeled.icon.button(href="/examples#samples")
        | Browse the Samples
        i.right.chevron.icon
  
  //- .old
    h2.ui.inverted.header Made with Maki. 🍣
    h3.ui.inverted.header Maki is a network built with interoperable components.  It's the ultimate developer's toolbox.  Want to list your app?
    br
    br
    a.ui.huge.right.floated.right.labeled.primary.icon.button(href="/authorizations/twitter")
      | Connect with us on Twitter
      i.icon.twitter.alt

block scripts
  script.
    $(document).on('click', '*[on-tap=smoothScroll]', function startSelection (e) {
      e.preventDefault();
      
      $('.masthead').visibility({
        transition: 'fade out'
      });

      $('html, body').animate({
        scrollTop: $('*[data-for=viewport]').offset().top
      }, 1000);

      return false;
    });

block content
  .ui.vertical.stripe.segment.content
    //-.ui.icon.message
      i.massive.code.icon.glowing
      .content
        .header View the source, Luke.
        p Maki apps are transparent by default.  You can peek at the source any time you see the code icon to learn how something is done.

    h2.ui.horizontal.header.divider What shall we build?
    .ui.three.stackable.cards
      a.ui.link.card(href="/examples/infrastructure")
        .image
          img(src="/img/image.png")
        .content
          .header Infrastructure
          .description You just want the REST API and messaging layers.
      a.ui.link.card(href="/examples/content")
        .image
          img(src="/img/image.png")
        .content
          .header Simple Website
          .description No frills, no frazz.  Just good looking content.
      a.ui.link.card(href="/examples/robust")
        .image
          img(src="/img/image.png")
        .content
          .header Full-stack App
          .description You're building something you think people will use.

  .ui.vertical.stripe.segment.content
    h2.ui.horizontal.header.divider Sample Projects
    .ui.four.stackable.cards
      .ui.card
        .content
          .header BitFaucet
          .description A simple app that interacts with a remote RPC service (the Bitcoin daemon, in this case).
        .extra.content
          a.ui.fluid.button.primary(href="https://github.com/martindale/bitfaucet")
            | Browse the Source
            i.icon.right.chevron
      .ui.card
        .content
          .header converse
          .description Simple collaborative discussion forums, built with Maki.
        .extra.content
          a.ui.fluid.button.primary(href="https://github.com/martindale/converse")
            | Browse the Source
            i.icon.right.chevron
      .ui.card
        .content
          .header Quill
          .description Writing made simple, publishing made easy.
        .extra.content
          a.ui.fluid.button.primary(href="https://github.com/martindale/quill")
            | Browse the Source
            i.icon.right.chevron
      .ui.card
        .content
          .header shipyard
          .description Create better software, together.  Collaborative software development.
        .extra.content
          a.ui.fluid.button.primary(href="https://github.com/martindale/shipyard")
            | Browse the Source
            i.icon.right.chevron

  .ui.vertical.stripe.segment.content(style="margin-top: inherit")
    h2.ui.horizontal.header.divider Other Examples

    .ui.icon.message
      i.icon.lab
      .content
        .header Building something cool?
        p Go ahead and <a href="https://github.com/martindale/maki/edit/master/data/examples.json">add it to the list</a>!  We'd love to highlight what you've built.  <strong>Bonus points for being open source!</strong> 🍺


    .ui.divided.items
      for example in examples
        .item
          a.ui.tiny.image(href="#{example.uri}")
            if (example.image)
              img(src="#{example.image}")
            else
              img(src="/img/image.png")
          .content
            .header
              a(href="#{example.uri}") #{example.name}
              if (example.source)
                |  
                a.ui.label(href="#{example.source}")
                  i.icon.code
                  | Source
            p.description #{example.description}
