extends {process.env.PWD + '/views/layouts/default'}

block masthead
  - if (page && page.masthead)
    style.
      .masthead {
        background: url('#{page.masthead}');
      }

  if (page.title)
    h2 #{page.title}
  if (page.image)
    img.ui.image.right.floated.small(src="#{page.image}")
  if (page.description)
    h3 #{page.description}

block content
  .ui.text.container !{content}
