extends layouts/default

block content
  .ui.grid.stackable
    .row
      .four.wide.column
        include partials/topic
      .twelve.wide.column
        if (!topic.description)
          .ui.warning.icon.message
            i.icon.warning.sign
            .content
              .header
                small(style="color: rgba(0,0,0,.4);") &#35;
                | #{topic.name} is missing a description!
              p Can you <a href="https://github.com/martindale/maki/issues/new?title=Suggested%20Description%20for%20#{topic.name}&body=I'd%20like%20to%20suggest%20the%20following%20description%20for%20the%20topic%3A%0A%0A%3E%20#{topic.name}%20is%20a%20place%20to%20talk%20about...">come up with a suggestion</a>?  Maybe look over <a href="/topics">some of the other topics</a> for some inspiration.
        if (!topic.topic)
          .ui.warning.icon.message
            i.icon.warning.sign
            .content
              .header
                small(style="color: rgba(0,0,0,.4);") &#35;
                | #{topic.name} isn't currently discussing anything!
              p Maybe you can <a href="https://chat.maki.io/?topic=#{topic.id}&amp;message=What's%20the%20first%20thing%20someone%20should%20know%20about%20#{topic.id}%3F">start the conversation</a>?
        
        //-pre
          code.json.
            #{JSON.stringify(topic, null, '  ')}
        
        h3 Latest Messages
        .ui.comments
          - messages = messages.slice(-5);
          for message in messages
            include partials/message

          //- TODO: .asHTML() (toJSON -> toHTML) or .as('html')
          .ui.form.comment.tooltipped(title="Join the community!", data-variation="wide", data-html="<strong>Add your thoughts!</strong>  We're looking forward to connecting with you.")
            .avatar
              img(src="http://semantic-ui.com/images/avatar/small/joe.jpg")
            .content
              .text
                .ui.fluid.disabled.action.input
                  input.inline(type="text", placeholder="Start typing", disabled)
                  .ui.disabled.right.labeled.icon.button
                    i.share.icon
                    | send
                  
              .actions
                //-| le emoji
