//- TODO: map each column and provide summary in footer
table.ui.table.segment.sortable
  thead
    tr
      each field in fields
        td #{field}

  tbody
    tr
      each field in fields
        - var f = resource.attributes[ field ]
        td
          if (field == idField || field == nameField)
            a(href="/#{resource.collection}/#{item[ idField ]}") #{item[ nameField ]}
          else if (f._type === 'file')
            a(href="/files/#{item[ field ]}") #{item[ field ]}
          else
            | #{item[ field ]}
