dom-module#maki-header
  template
    .ui.inverted.large.secondary.menu#container
      a.toc.item
        i.sidebar.icon
      a.logo.brand.item(href="/")
        if (config.service.logo)
          img(src="#{config.service.logo}")
        else if (config.service.icon)
          i.icon(class="#{config.service.icon} icon")
        span.brand.normal #{config.service.name}
      small.item #{config.service.pitch}

      .right.menu
        template(is="dom-if", if="{{resources.identities}}")
          if (user)
            a.item(href="/people/#{user.id}") #{user.id}
            a.item(href="/sessions/#{session.hash}?method=delete") Logout
          else
            a.item(href="/sessions#create")
              i.sign.in.icon
              | Sign In
            a.item(href="/people#create")
              i.add.user.icon
              | Register
    .ui.secondary.inverted.menu
      template(is="dom-if", if="{{config.service.about.link}}")
        a.item(href="{{config.service.about.link}}")
          i.home.icon
          | About
      //-a.item(href="/topics/community") <small>#</small>community
      //-a.item(href="/topics/design") <small>#</small>design
      //-a.item(href="/topics/development") <small>#</small>development
        
      each resource in resources
        if (resource.public)
          a.item(href="#{resource.routes.query}", title="#{resource.description}")
            if (resource.options.icon)
              i.icon(class="#{resource.options.icon}")
            | #{resource.names.handle}

      .right.menu
        maki-search-box.item#search

      content

  script.
    Polymer({
      is: 'maki-header',
      properties: {
        logo: { type: String , value: '/img/maki-icon.png' },
        config: { type: Object },
        // TODO: merge these two props into a shared behavior, a common root
        // with `maki-header`
        narrow: { type: Boolean , value: false , observer: '_setNarrow' },
        centered: { type: Boolean , value: false , observer: '_setCentered' },
      },
      _setNarrow: function(narrow) {
        console.log('narrowChanged:', narrow);
        //this.$.container.classList.add('text');
      },
      _setCentered: function(centered) {
        //this.$.container.classList.add('center', 'aligned');
      },
      ready: function() {
        //this.config = app.config;
      }
    });
