dom-module#maki-index
  template
    .ui.container
      .ui.header
        h1.huge Hello, #{config.service.name}.
        h2 !{ markdown( config.service.mission ) }
        
        p !{ markdown( config.service.description ) }
        
      .ui.stackable.three.column.grid
        for point in config.service.points
          .column
            .ui.fluid.card
              .content
                h2.header #{ point.header }
                //- TODO: use marked config, not a regex, to fix errant <p> tags
                p.description
                  | !{ markdown( point.description ).replace(/<p>(.*)<\/p>/, '$1') }
              if (point.action)
                a.ui.bottom.attached.button(href="#{point.action.link}") !{point.action.text}

      .ui.stackable.three.column.grid
        .column
          h3 Resources
          .ui.list
            each resource in resources
              if (!resource.internal)
                a.item(href="#{resource.routes.query}") #{resource.plural}
              
        .column
          h3 Services
          
          .ui.list
            each service in services
              a.item(href="#{service.protocol}://#{service.authority}") #{service.name}

  script.
    Polymer({
      is: 'maki-index'
    });
