dom-module#maki-splash
  style.
    #navigation {
      width: 100%;
    }
  
  template
    .ui.inverted.vertical.masthead.center.aligned.segment
      .ui.text.container
        h1.ui.inverted.header Code less.
        h2 #{config.service.name} is !{config.service.mission}

        pre(style="font-size: 1.2em; margin-top: 2em;")
          code.nohighlight.
            npm install martindale/maki --save
          
        a.ui.huge.primary.button(href="/docs")
          | Build Your MVP Faster
          i.right.chevron.icon

    .ui.vertical.stripe.segment
      .ui.middle.aligned.stackable.grid.container
        .ui.equal.width.stackable.internally.celled.grid
          .center.aligned.row
            for point in config.service.points
              .column
                h3.header #{ point.header }
                //- TODO: use marked config, not a regex, to fix errant <p> tags
                p.description
                  | !{ markdown( point.description ).replace(/<p>(.*)<\/p>/, '$1') }
                if (point.action)
                  a.ui.huge.fluid.button(href="#{point.action.link}") !{point.action.text}

    .ui.vertical.stripe.segment
      .ui.text.container
        h3.ui.header Powerful Helpers
        p Maki comes with a suite of powerful tools, out of the box.  Each is completely optional and replaceable!

        h4.ui.horizontal.header.divider The Power Suite

        p By default, Maki apps are composed with <a href="http://jade-lang.com">Jade</a>, styled with <a href="https://semantic-ui.com">Semantic UI</a>, and bound together by <a href="https://www.polymer-project.org/">custom Web Components</a> (as implemented by <a href="https://www.polymer-project.org/">Polymer</a>).
          pre.jade
            code.
              dom-module#maki-application
              
              template
                maki-datastore(name="my-app")
                maki-channel(autoconnect, reconnect="true")
                
                .ui.page
                  .row
                    message-list(src="/messages/custom-room")
                  .row
                    message-form

        p This allows you to write your application <em>once</em>, and we can derive native interfaces directly &mdash; by default, provided by <a href="https://facebook.github.io/react-native/">React Native</a>.
        
        h2.ui.header Loosely Coupled
        p Have a better way to do things?  Have a different compile target?  All Maki components are <strong>optional</strong>, and can even be outright removed without disrupting the other components of the system.

        
    .ui.vertical.stripe.quote.segment
      .ui.equal.width.stackable.internally.celled.grid
        .center.aligned.row
          .column
            h3 "This feels like the invention of the transistor."
            p Will Ricketts, SailsJS Contributor
          .column
            h3 We're building something new.
            a.ui.huge.primary.button(href="/developers/getting-involved") Come join us.
              i.icon.right.chevron

  script(src="/js/highlight.pack.js")
  script.
    
    Polymer({
      is: 'maki-splash',
      ready: function() {
        hljs.initHighlightingOnLoad();
      }
    });

    /*(function () {
      window._BlabNS = {};
      window._BlabNS.user_id = '7f64ecb8166943cd896ea28ff8d0c5d0';
      window._BlabNS.enableMobile = true;
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'https://cdn.blab.im/tinyplayer/js/sdk.js';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    })();*/
