dom-module#maki-masthead
  style.
    .top-padded {
      margin-top: 4em;
    }

  template
    .ui.inverted.vertical.masthead.segment
      .ui.container
        maki-navbar.ui.large.secondary.inverted.pointing.menu
      .ui.text.container
        .ui.center.aligned.inverted.segment
          h1.ui.inverted.header #{config.service.pitch}
          h2.ui.inverted.header #{config.service.mission}

          .content.top-padded
            if (config.service.cta)
              if (config.service.cta.icon)
                - var cta = config.service.cta
                a.ui.massive.centered.right.labeled.green.icon.button(href="#{cta.link}")
                  i.right.chevron.icon(class="#{cta.icon}")
                  | !{cta.text}
              else
                a.ui.massive.fluid.green.button(href="#{cta.link}") #{cta.text}
            else
              .ui.two.huge.buttons
                a.ui.huge.primary.button(href="/examples") See the Examples
                .or
                a.ui.huge.green.right.labeled.icon.button(href="/people")
                  | Meet the Community
                  i.right.chevron.icon

  script.
    Polymer({
      is: 'maki-masthead',
      ready: function() {
        console.log('[MAKI:MASTHEAD]', 'ready');
      }
    });
