dom-module#maki-navbar
  template
    a.logo.brand.item(href="/", style="padding-left: 0;")
      if (config.service.logo)
        img.tooltipped(src="#{config.service.logo}", title="#{config.service.synopsis}")
      else
        i.icon.left(class="#{ config.service.icon || 'lab' }")
      span.brand #{config.service.name}
      
    block navbar
      each resource in resources
        if (resource.public)
          a.item(href="#{resource.routes.query}")
            if (resource.options.icon)
              i.icon(class="#{resource.options.icon}")
            | #{resource.names.handle}
      if (user)
        .ui.large.secondary.inverted.pointing.right.menu
          a.item(href="/people/#{user.id}") #{user.id}
          a.item(href="/sessions/#{session.hash}?method=delete") Logout
      a.right.toc.item
        i.sidebar.icon
  script(src="/js/page.min.js", async)
  script(src="/js/jquery.js", async)
  script.
    Polymer({
      is: 'maki-navbar'
    });
