dom-module#maki-sidebar
  template
    a.logo.brand.item(href="/")
      template(is="dom-if", if="{{logo}}")
        img(src="{{logo}}")
      template(is="dom-if", if="{{!logo && icon}}")
        i(class="{{icon}}")
      span.brand.normal #{config.service.name}
      
    block navbar
      each resource in resources
        if (resource.public)
          a.item(href="#{resource.routes.query}", title="#{resource.description}")
            if (resource.options.icon)
              i.icon(class="#{resource.options.icon}")
            | #{resource.names.handle}
      if (user)
        .ui.large.secondary.inverted.pointing.right.menu
          a.item(href="/people/#{user.id}") #{user.id}
          a.item(href="/sessions/#{session.hash}?method=delete") Logout

  script.
    Polymer({
      is: 'maki-sidebar',
      properties: {
        logo: { type: String },
      },
      ready: function() {
        
      }
    });
