dom-module#maki-splash
  template
    .pusher
      .ui.inverted.vertical.masthead.center.aligned.segment
        .ui.container
          .ui.large.secondary.inverted.pointing.menu
            a.toc.item
              i.sidebar.icon
            .item
              img.tooltipped(src="/img/maki-icon.png", title="The hand-rolled, carefully crafted goodness that is Maki.", data-variation="inverted", style="max-height: 2em; max-width: 2em; margin-bottom: -0.75em; margin-right: -0.5em;")
            a.item.active(href="/")
              | Maki
            a.item(href="/examples")
              | Examples
            a.item(href="/docs")
              | Docs
            a.item(href="/plugins")
              | Plugins
            .right.item
              script(async, defer, src="https://community.ericmartindale.com/slackin.js?large")
              a.ui.inverted.button(href="https://github.com/martindale/maki")
                i.icon.alternate.github
                | GitHub
                i.icon.right.chevron
        .ui.text.container
          h1.ui.inverted.header
            | Code less.
          h2
            | #{config.service.name}, !{config.service.mission}

          pre(style="font-size: 1.2em; margin-top: 2em;")
            code.nohighlight.
              npm install martindale/maki --save
            
          a.ui.huge.primary.button(href="/docs")
            | Build Your MVP Faster
            i.right.chevron.icon

      .ui.vertical.stripe.segment
        .ui.middle.aligned.stackable.grid.container
          .ui.equal.width.stackable.internally.celled.grid
            .center.aligned.row
              for point in config.service.points
                .column
                  h3.header #{ point.header }
                  //- TODO: use marked config, not a regex, to fix errant <p> tags
                  p.description
                    | !{ markdown( point.description ).replace(/<p>(.*)<\/p>/, '$1') }
                  if (point.action)
                    a.ui.huge.fluid.button(href="#{point.action.link}") !{point.action.text}
                
      .ui.vertical.stripe.segment
        .ui.text.container
          h3.ui.header Powerful Helpers
          p Maki comes with a suite of powerful tools, out of the box.  Each is completely optional and replaceable!

          h4.ui.horizontal.header.divider The Power Suite

          p By default, Maki apps are composed with <a href="http://jade-lang.com">Jade</a>, styled with <a href="https://semantic-ui.com">Semantic UI</a>, and bound together by <a href="https://facebook.github.io/flux/">the Flux architecture</a> (as implemented by <a href="https://facebook.github.io/react/">React</a>).
            pre.jade
              code.
                extends layouts/default
                
                block menu
                  Item(target="/settings") Settings
                
                block navigation
                  Item(target="/") Home
                  Item(target="back") Back

                block primary
                  ChatView(src="/rooms/lounge")
          
          p This allows you to write your application <em>once</em>, and we can derive native interfaces directly &mdash; by default, provided by <a href="https://facebook.github.io/react-native/">React Native</a>.
          
          h2.ui.header Loosely Coupled
          p Have a better way to do things?  Have a different compile target?  All Maki components are <strong>optional</strong>, and can even be outright removed without disrupting the other components of the system.

          
      .ui.vertical.stripe.quote.segment
        .ui.equal.width.stackable.internally.celled.grid
          .center.aligned.row
            .column
              h3 "This feels like the invention of the transistor."
              p Will Ricketts, SailsJS Contributor
            .column
              h3 We're building something new.
              a.ui.huge.primary.button(href="/developers/getting-involved") Come join us.
                i.icon.right.chevron

      .ui.inverted.vertical.footer.segment
        .ui.container
          .ui.stackable.inverted.divided.equal.height.stackable.grid
            .six.wide.column
              h4.ui.inverted.header About
              p Maki is a labor of love, a result of several years of iterations and re-architectures in pursuit of a clean, hand-rolled framework for building clean, useful applications.  We hope you like it.
              //-.ui.inverted.link.list
                a.item(href="#") Protocol
                a.item(href="#") Whitepaper
                a.item(href="#") Roadmap
                a.item(href="#") Contact Us
            .seven.wide.column
              h4.ui.inverted.header Copyleft
              p Maki is copyleft, and encourages you to copy, clone, and <em>create</em>.  After all, without a rich public domain, how else can we innovate?  Much to our chagrin, the software itself is more formally <a href="https://github.com/martindale/maki/blob/master/LICENSE">MIT licensed</a>, while our content is licensed under <a href="http://creativecommons.org/licenses/by/4.0/">CC-BY</a>.
            .three.wide.column
              h4.ui.inverted.header Elsewhere
              .ui.inverted.link.list
                a.item(href="https://github.com/martindale/maki", rel="me")
                  i.icon.github
                  |  GitHub
                a.item(href="https://twitter.com/martindale", rel="me")
                  i.icon.twitter
                  |  Twitter
                a.item(href="https://facebook.com/eric.martindale", rel="me")
                  i.icon.facebook
                  |  Facebook
                //-a.item(href="#", rel="me")
                  i.icon.medium
                  |  Medium

  script(src="/js/highlight.pack.js")
  script.
    hljs.initHighlightingOnLoad();
    Polymer({
      is: 'maki-splash'
    });
