form.ui.form.segment(action="/#{resource.collection}", method="post", enctype="multipart/form-data")
  for field in fields
    if (resource.keys[field])
      - var f = resource.attributes[ field ]
      .field(class=((f && f.required) ? 'required' : undefined ))
        label #{f.alias || field}
      
        if (f && f._type == 'lookup')
          .ui.category.search.icon.input(data-field-name="#{field}")
            i.search.icon
            input.prompt(type="text", placeholder="Look for #{ resources[ f.ref ].collection }...")
            .results

        else
          input(type="#{f._type}", name="#{field}", value=((f && f._default) ? f._default : undefined ), required=((f && f.required) ? 'required' : undefined ), class=((f && f.required) ? 'required' : undefined ) )
      
  button.ui.blue.submit.button(type="submit") Create &raquo;
