mixin fieldFor( attrs , field , parentName )
  - var keys = Object.keys( attrs )
  if (~keys.indexOf( field ))
    - var f = attrs[ field ]
    - if (f.render && f.render.create === false) return;
    - f._name = (parentName) ? parentName + '[' + field + ']' : field

    .field(class=((f && f.required) ? 'required' : undefined ))
      label #{f.alias || field}
      
      if (f && f._type == 'composite')
        - delete f._name;
        - var fieldCount = Object.keys( f ).length
        - var translit = ['one', 'two', 'three']
        div(class="#{ translit[ fieldCount - 1 ] } fields")
          for prop in Object.keys( f )
            - var child = f[ prop ]
            +fieldFor( f , prop , f.alias || field )
            
      else if (f && f._type == 'lookup')
        .ui.category.search(data-field-name="#{field}")
          .ui.icon.input
            //- TODO: lookup for artificial fields!
            //-input.prompt(type="text", name="#{field}", placeholder="Look for #{ resources[ f._ref ].collection }...")
            input.prompt(type="text", name="#{f._name}", placeholder="Look for...")
            i.search.icon
          .results
      else if (f && f._type == 'textarea')
        textarea(name="#{f._name}", rows="#{f._rows}", required=((f && f.required) ? 'required' : undefined ), class=((f && f.required) ? 'required' : undefined ) ) #{f._default}
      else if (f && f._type == 'option')
        select.ui.dropdown(name="#{f._name}")
          for option in f.enum
            option(value="#{option}") #{option}
      else
        input(type="#{f._type}", name="#{f._name}", value=((f && f._default) ? f._default : undefined ), required=((f && f.required) ? 'required' : undefined ), class=((f && f.required) ? 'required' : undefined ) )

form.ui.form.segment(action="/#{resource.collection}", method="post", enctype="multipart/form-data")
  for field in fields
    +fieldFor( resource.attributes , field )

  button.ui.huge.blue.right.floated.right.labeled.icon.submit.button(type="submit") Create
    i.right.chevron.icon
  
  div(style="clear: both;")
