extends layouts/default

block content
  .ui.huge.header
    h1 Hello, #{config.service.name}.
    p !{ markdown( config.service.mission ) }

  .ui.grid
    .five.wide.column
      .ui.segment.card
        h2.center-text Hand-rolled.
        p.center-text No black boxes or arcane scribbling here.  Pure Javascript, and direct access to everything.
    .five.wide.column
      .ui.segment.card
        h2.center-text Get Making.
        p.center-text Get started on that project <em>now</em>.  Don't worry about project setup.
    .five.wide.column
      .ui.segment.card
          h2.center-text Already registered?
          a.fluid.ui.button(href="/login", ng-class="{ active: isActive('/login') }") Log In
      
  .ui.grid
    .five.column
      h3 Resources
      
      .ui.list
        each resource in resources
          if (!resource.internal)
            a.item(href="#{resource.routes.query}") #{resource.plural}
          
    .five.column
      h3 Services
      
      .ui.list
        each service in services
          a.item(href="#{service.protocol}://#{service.authority}") #{service.name}
