extends layouts/default

block content
  .ui.header
    h1.huge Hello, #{config.service.name}.
    p !{ markdown( config.service.mission ) }

  .ui.stackable.three.column.grid
    .column
      .ui.fluid.card
        .content
          h2.header Hand-rolled.
          p.description No black boxes or arcane scribbling here.  Pure Javascript, and direct access to everything.
    .column
      .ui.fluid.card
        .content
          h2.header Get Making.
          p.description Get started on that project <em>now</em>.  Don't worry about project setup.
    .column
      .ui.fluid.card
        .content
          h2.header Already registered?
        .ui.bottom.attached.button(href="/login", ng-class="{ active: isActive('/login') }") Log In &raquo;

  .ui.stackable.three.column.grid
    .column
      h3 Resources
      
      .ui.list
        each resource in resources
          if (!resource.internal)
            a.item(href="#{resource.routes.query}") #{resource.plural}
          
    .column
      h3 Services
      
      .ui.list
        each service in services
          a.item(href="#{service.protocol}://#{service.authority}") #{service.name}
